img {
  max-width: 100%;
}

footer {
    background: #0080ff;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 170px;
}

footer a.nav-link {
  color: #f0f0f0;
}

footer p {
  color: aaaaaa !important;
}

html {
  position: relative;
  min-height: 100%;
  /* padding-bottom:160px; */
}
body {
  /* margin-bottom: 160px; */
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: 600;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: #0080ff;
}

.navbar-nav .nav-link.active {
  color: #0080ff !important;
  border-bottom: 3px solid #0080ff;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
}

.small-card {
  max-width: 400px;
}

.basic-block-section {
  margin-bottom: 25px;
  margin-top: 25px;
}

.home-page-carousel {
  
}

.blue-bg-section {
  background: #0080ff;
  color: #ffffff;
}

.basic-block {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sec-header {
    
}

.block {
  padding-top: 10px;
  margin-top: 10px;
}

.product-title {
    /* font-weight: 400; */
    text-align: center;
    /* width: auto; */
    /* margin-right: auto; */
}
.prod-title-sep {
    width: 160px;
    border-bottom: 1px solid #555555;
    left: 0;
    right: 0;
    margin-bottom: 10px;
    float: none;
    margin-right: auto;
    margin-left: auto;
}
.products-image {
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 7px;
}

* { box-sizing: border-box; }
$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
    /* position: fixed; */
    bottom: 0;
    /* width: 100%; */
    overflow: hidden;
    max-height: 165px;
    /* background-color: rgba(0, 0, 0, 0.9); */
    /* padding-left: 100%; */
    box-sizing: content-box;


  .ticker {

    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;
      max-height: 165px;
      padding: 0 2rem;
      font-size: 2rem;

    }

  }

}

.ticker__item img {
  
}

.clients {
  
}

.clients p {
  font-size: 16px;
}

.intro-title-block {
    border-bottom: 1px solid #ccc;
    /* padding-bottom: 15px; */
    margin-bottom: 30px;
}

.blue-txt {
  color: #0080ff;
}

.relative-pos {
  position: relative;
}

.bottom-rounded-direction {
    height: 70px;
    width: 80px;
    margin-left: auto;
    border-radius: 100%;
    position: absolute;
    /* background: white; */
    margin-right: auto;
    left: 0;
    bottom: -30px;
    float: none;
    right: 0;
}

.carousel-1-content {
  position: relative;
}

.carousel-spotlight {
    position: absolute;
    top: 100px;
    max-width: 389px;
    color: #ffffff;
    left: 0;
    font-weight: bold;
    min-height: 150px;
    padding: 20px;
}
.blue-txt {
  
}

.transparent-header {
    
}

.nav-link {
  font-weight: bold;
}

.transparent-header .bg-light {
  background: transparent !important;
}

#app {
  position: relative;
}

.transparent-header .container, .transparent-header .container-fluid, .transparent-header .container-xxl, .transparent-header .container-xl, .transparent-header .container-lg, .transparent-header .container-md, .transparent-header .container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: block;
    width: 100%;
    /* padding-right: 0 !important; */
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.btn-small {
    padding-top: 2px !important;
    padding-right: 18px !important;
    padding-bottom: 4px !important;
    /* max-height: 30px; */
    padding-left: 18px !important;
}
.white-txt {
  color: #ffffff !important;
}
.red-bg {
    background: red !important;
}

.oval-b-radius {
    border-radius: 15px !important;
}

.nav-link .yellow-bg {
    background: #FFBF00;
    color: black;
    border-radius: 15px 15px 0 15px;
    padding: 4px 10px;
}

.carousel-spotlight .sign-up {
  
}

.carousel-bottom {
    position: absolute;
    bottom: 10px;
    right: 0;
    max-width: 360px;
    /* left: 0; */
    float: right;
}
.bold {
  font-weight: bold !important;
}
.home-page-carousel {
  position: relative;
}

.right-clients {
    right: 0;
    max-width: 450px;
}

.sideline-title {
    position: absolute;
    bottom: -75%;
    float: none;
    background: white;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    font-style: italic;
    font-size: 25px;
    right: 0;
}
.happy-title {
    position: relative;
    border-bottom: 4px solid #FFBF00;
    margin-left: auto;
    text-align: center;
    left: auto;
    height: 32px;
    /* width: 330px; */
    max-width: 50%;
    min-width: 250px;
    margin-bottom: 20px;
    margin-right: auto;
    right: auto;
}

.post-happy-title {
    padding-top: 23px;
    padding-bottom: 26px;
}

.zero-margin-right {
  margin-right: 0 !important;
}

.in-row-block {
    padding-top: -6px;
    padding-right: 10px;
    margin-top: 14px !important;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.customer-image {
    min-height: 150px;
    width: 100%;
}
header {
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
}

.block {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.product-container {
  background: #f6f6f6;
}

.text-content {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.preview-txt {
    height: 70px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.fade-txt {
    /* opacity: 0.8; */
    color: #777;
}

.contact-box {
  display: table;
}

.contact-content {
    display: table-cell;
    padding: 10px 10px 0;
}


.contact-content p {

}

.contact-content i {
    background: #0080ff;
    color: #fff;
    /* padding: 10px; */
    border-radius: 100%;
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    /* line-height: 30px; */
}

.left-line {
    font-size: 20px;
    left: auto;
}
.happy-left {
  margin-left: 0;
}

.happy-left .basic-title {
  padding-left: 10px;
}
.basic-title {
    text-transform: uppercase;
}

.txt-uppercase {
  text-transform: uppercase;
}

.history-title {
    font-size: 20px;
}

.history {
    padding-bottom: 60px;
    background: black;
    background-image: url('~@/style/images/about-jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.carousel-static {
  background-image: url('~@/style/images/home_page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-bottom: 10px;
}

.carousel-static .history-image-cover {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.5;
}

.history-image-cover {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.8;
}

.history-box {
    padding-top: 10px;
    margin-top: -40px;
    height: 230px;
    padding-bottom: 10px;
    border-radius: 20px;
    background: #fff;
}

.history-box img {
    width: 90px;
    height: 90px;
}

.history-box .prod-title-sep {
    width: 140px;
    border-bottom: 1px solid #0080ff;
    
}

.history-box.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.60) !important;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.60) !important;
    -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.60) !important;
}

.header-body-sep {
  height: 80px;
}